@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-accent-primary: #3b82f6; /* Example primary color */
  --color-error: #ef4444; /* Example error color */

  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}
